@tailwind base;

@layer base {
  img {
    @apply max-w-max;
  }
}

@tailwind components;

@layer components {
  .maxContainer {
    @apply container mx-auto;
  }
  .cardComponent {
    @apply bg-white rounded-lg p-2  h-48;
  }
  .asideHeading {
    @apply font-semibold text-gray-600 border-b-2 border-green-300 pb-2;
  }
}

@tailwind utilities;

@variants hover {
  .hoverEffect {
    opacity: 0.7;
    box-shadow: 0 15px 30px -5px rgba(0, 0, 0, 0.15), 0 0 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-4px);
    cursor: pointer;
    transition: all 0.3s;
  }
}

@tailwind utilities;
